.All{
    z-index: 100;
    color: #ffff;
    padding: 8px 20px;
    background: black;
    letter-spacing: 4px;
    margin: 0px 10px;
}
.Active{
    z-index: 100;
    color: #ffff;
    padding: 8px 20px;
    background: black;
    letter-spacing: 4px;
    margin: 0px 10px;
}
.Completed{
    z-index: 100;
    color: #ffff;
    padding: 8px 20px;
    background: black;
    letter-spacing: 4px;
    margin: 0px 10px;
}