body{
  background: linear-gradient(to left,white, royalblue, white);
}
.App {
  text-align: center;
  width: 800px;
  height: 550px;
  background: royalblue;
  margin: 0px auto;
  padding: 0;
  border: 0;
  /* overflow: hidden; */
}


